{% if item.comment is defined %}
# {{ item.comment }}
{% endif %}
auto {{ item.name }}
{% if item.ipv4_address_type is defined %}
{% if item.ipv4_address_type == "static" or item.ipv4_address_type == "dhcp" or item.ipv4_address_type == "manual" %}
iface {{ item.name }} inet {{ item.ipv4_address_type }}
{% if item.child_interfaces is defined and item.child_interfaces|length > 0 %}
   bridge_ports {{ item.child_interfaces|join(' ') }}
{% else %}
   bridge_ports none
{% endif %}
{% if item.bridge_stp is defined and item.bridge_stp == "off" or item.bridge_stp == "on" %}
   bridge_stp {{ item.bridge_stp }}
{% else %}
   bridge_stp off
{% endif %}
{% if item.ipv4_address_type == "static" %}
{% for a in item.ipv4_addresses %}
   address {{ a.address }}
   netmask {{ a.netmask }}
{% if a.gateway is defined %}
   gateway {{ a.gateway }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% else %}
iface {{ item.name }} inet manual
{% if item.child_interfaces is defined and item.child_interfaces|length > 0 %}
   bridge_ports {{ item.child_interfaces|join(' ') }}
{% else %}
   bridge_ports none
{% endif %}
{% if item.bridge_stp is defined and item.bridge_stp == "off" or item.bridge_stp == "on" %}
   bridge_stp {{ item.bridge_stp }}
{% else %}
   bridge_stp off
{% endif %}
{% endif %}
{% if item.ipv6_address_type is defined %}
{% if item.ipv6_address_type == "static" or item.ipv6_address_type == "dhcp" or item.ipv6_address_type == "manual" %}
iface {{ item.name }} inet6 {{ item.ipv6_address_type }}
{% if item.child_interfaces is defined and item.child_interfaces|length > 0 %}
   bridge_ports {{ item.child_interfaces|join(' ') }}
{% else %}
   bridge_ports none
{% endif %}
{% if item.bridge_stp is defined and item.bridge_stp == "off" or item.bridge_stp == "on" %}
   bridge_stp {{ item.bridge_stp }}
{% else %}
   bridge_stp off
{% endif %}
{% if item.ipv6_address_type == "static" %}
{% for a in item.ipv6_addresses %}
   address {{ a.address }}
   netmask {{ a.netmask }}
{% if a.gateway is defined %}
   gateway {{ a.gateway }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% else %}
iface {{ item.name }} inet6 manual
{% if item.child_interfaces is defined and item.child_interfaces|length > 0 %}
   bridge_ports {{ item.child_interfaces|join(' ') }}
{% else %}
   bridge_ports none
{% endif %}
{% if item.bridge_stp is defined and item.bridge_stp == "off" or item.bridge_stp == "on" %}
   bridge_stp {{ item.bridge_stp }}
{% else %}
   bridge_stp off
{% endif %}
{% endif %}
